{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block title %}Pembuatan KTP{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'TK2_SIM/css/sim.css' %}" >
{% endblock %}

{% block content %}
    <div class="container-fluid header-sim">
        <h1 class="display-4 sim_main">Pembuatan KTP</h1>
    </div>

    <div class="container">
        {% if success %}
          <h4>You have successfully created your KTP request, {{ name }}. Thank you for registration.</h4>
        {% endif %}
        <div class="row">
            <div class="col-md-4" style="margin: 40px 0px">
                <form id="form_1" action="{% url 'TK2_KTP:ktp' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_ktp }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
