.carousel-item{
    height: 500px;
} 

.carousel-item img{
    height: 600px;
}

.footer{
    background-color: #F18E68;
    height: 150px;
}

.middle{
    background-color: #1167B1;
    height: 300px;
}

.paragraph_index{
    margin: 0px 150px;
    padding: 100px 0px;
    text-align: justify;
    text-indent: 35px;
    color:white;
}

.images{
    padding: 20px;
}

.social_media{
    padding-top:60px;
}

.jumbotron_image{
    background-color: #F18E68!important;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.faq_main{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-bottom: 30px;
    padding-right: 30px;
}

.nav_font{
    color: grey;
}

.accordionhead{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .accordionhead > a{
    display: block;
    padding: 15px 15px;
    color: #000000;
    font-weight: 600;
    border-bottom: 1px solid #F18E68;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
    text-decoration: none;
  }

  .accordionhead > a.active{
    background-color: #F18E68;
  }

  .content {
    background-color: white;
    border-bottom: 1px solid #F18E68;
    display: none;
  }

  .content p {
    padding: 15px 15px;
    margin: auto 5px;
    color: #000000;
  }

  .content ul {
    padding-bottom: 15px;
    margin: auto 5px;
    color: #000000;
  }

  .content ul li {
    padding-top: 15px;
  }

  a.active{
    color : white;
  }

  .fas{
      float: right;
  }