{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block title %}Pembayaran Pajak{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'TK2_PAJAK/css/pajak.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'TK2_PAJAK/js/pajak.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid header-pajak">
        <h1 class="display-4 pajak_main">Pembayaran Pajak Kendaraan</h1>
    </div>

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% if success %} 
                    <h4>Terima kasih telah membayar pajak {{ name }}.</h4>
                {% endif %}
                    <div class="col-md-4" style="margin: 40px 0px">
                        <form id="form_1" action="{% url 'TK2_PAJAK:pajak-index' %}" method="POST">
                            {% csrf_token %}    
                            <div class="form-group">
                                {{ form_pajak }} 
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>     
                    </div>
            {% else %}
                <div class="col-md-4" style="margin: 40px 0px">
                    <div class="container transparent-bg-gray rounded">
                        <div class="big-text">Silahkan Login untuk mengisi form</div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-2" style="margin: 40px 0px"></div>
            <div class="col-md-6" style="margin: 40px 0px">
                <div class="container transparent-bg-gray rounded">
                    <div class="container text-left">
                        <h1>Info Pembayaran Pajak</h1>
                    </div>
                    <div class="mid-text">Jumlah pendaftar Pembayaran Pajak Saat ini sudah sebanyak :</div>
                    <div class="big-text" id='jumlah_pendaftar'></div><br>
                    <div class="mid-text">Ayo Buruan Daftar sebelum terlambat</div>
                </div>
                <a class="btn btn-light float-right rounded" id="antrian_a_button" onclick="getPajakList()">Update Info</a>
            </div>
        </div>
    </div>
{% endblock %}