.transparent-bg-gray {
    background-color: rgb(211,211,211, 0.5)!important;
}

.background-light {
    background-color: #9b6515!important;
}

.background-dark {
    background-color: rgb(85, 56, 14)!important;
}

.big-text {
    font-size: 32px!important;
}

.mid-text {
    font-size: 24px!important;
}

.blue-text{
    color: rgb(0,191,255)!important;
}

.container-fullscreen{
    padding-bottom: 11%;
    padding-top: 11%;
}

.centered {
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.btn-marg{
    display: block;
    margin: 10px auto;
}