.carousel-item{
    height: 500px;
}

.carousel-item img{
    height: 600px;
}

.footer{
    background-color: #F18E68!important;
}

.middle{
    background-color: #FCF8ED;
    height: 50%;
}

.paragraph_index{
    margin: 0% 10%;
    padding: 2.5% 0%;
    text-align: justify;
    text-indent: 35px;
    color:black;
}

.images{
    padding: 20px;
}

.social_media{
    padding-top:20px;
}

.jumbotron_image{
    background-color: #1167B1!important;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.faq_main{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-bottom: 30px;
    padding-right: 30px;
}

.nav_black{
    color: black!important;
}

.nav_gray{
    color: gray!important;
}

.nav_used{
    color: firebrick!important;
    text-decoration: underline!important;
}

.transparent-bg-gray {
    background-color: rgb(211,211,211, 0.5)!important;
}