{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'TK2_HOME/css/auth.css' %}"> 
{% endblock %}

{% block javascript %}
<script src="{% static 'TK2_HOME/js/index.js' %}"></script>
{% endblock %}

{% block title %}Admin_Page{% endblock %}
{% block content %}
	
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/first-image.jpeg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/second-image.jpeg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/third-image.jpeg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

	<div class="container">

		<div class="container text-center">
			<h1>Antrian A</h1>
		</div>

		<div>
			<a class="btn btn-light float-right" id="antrian_a_button" onclick="getAntrianA()">Tampilkan Antrian A</a>
		</div>


		<div class="table-responsive">
	        <table class="table" style="margin-top: 40px">
	            <thead>
	                <tr>
	                    <th scope="col">nomor antrian</th>
	                    <th scope="col">nama</th>
	                    <th scope="col">jenis antrian</th>
	                </tr>
	            </thead>
	            <tbody id="antrian_a_ajax">
	            </tbody>
	        </table>
	    </div>
	</div>

	<div class="container">

		<div class="container text-center">
			<h1>Antrian B</h1>
		</div>

		<div>
			<a class="btn btn-light float-right" id="antrian_b_button" onclick="getAntrianB()">Tampilkan Antrian B</a>
		</div>


		<div class="table-responsive">
	        <table class="table" style="margin-top: 40px">
	            <thead>
	                <tr>
	                    <th scope="col">nomor antrian</th>
	                    <th scope="col">nama</th>
	                    <th scope="col">jenis antrian</th>
	                </tr>
	            </thead>
	            <tbody id="antrian_b_ajax">
	            </tbody>
	        </table>
	    </div>
	</div>

{% endblock %}