{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JQuerry-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Static File CSS-->
    <link rel="stylesheet" href="{% static 'TK2_HOME/css/index.css' %}">

    <!-- Style for each templates-->
    {% block style %}{% endblock %}<!-- Tambah css sendiri di block ini -->

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Jquery CSS-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Static File JS-->
    <script src="{% static 'TK2_HOME/js/index.js' %}"></script>
    {% block javascript %}{% endblock %} <!-- Tambah javascript sendiri di block ini -->

    <!-- Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Jquery JS-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/8f7ecc8fdd.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{% url 'TK2_HOME:index' %}">
            <img style="height: 50px;" src="{% static 'TK2_HOME/images/sipemerintah.png' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-right:50px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav_black" href="{% url 'TK2_HOME:index' %}">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav_black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PELAYANAN</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="sim_href" class="dropdown-item nav_black" href="{% url 'TK2_SIM:sim' %}">Pembuatan SIM</a>
                        <a id="pajak_href" class="dropdown-item nav_black" href="{% url 'TK2_PAJAK:pajak-index' %}">Pajak Kendaraan</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="faq_href" class="nav-link nav_black" href="{% url 'TK2_faq:faq-index' %}">FAQ</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link nav_black" href="{% url 'TK2_HOME:admin_page' %}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a id="logout_href" class="nav-link nav_black" href="{% url 'TK2_HOME:logout' %}">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a id="login_href" class="nav-link nav_black" href="{% url 'TK2_HOME:login' %}">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a id="register_href" class="nav-link nav_black" href="{% url 'TK2_KTP:ktp' %}">REGISTER</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
    {% block content %}<!-- Block buat isi dari halaman -->
    {% endblock %}
    </main>

    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="row social_media">
            <div class="col-md-12 text-center">
            <a class="images" href="{% url 'TK2_HOME:index' %}">
                <img style="height: 35px;" src="{% static 'TK2_HOME/images/facebook.png' %}">
            </a>

            <a class="images" href="{% url 'TK2_HOME:index' %}">
                <img style="height: 35px;" src="{% static 'TK2_HOME/images/instagram.png' %}">
            </a>

            <a class="images" href="{% url 'TK2_HOME:index' %}">
                <img style="height: 35px;" src="{% static 'TK2_HOME/images/whatsapp.png' %}">
            </a>

            <a class="images" href="{% url 'TK2_HOME:index' %}">
                <img style="height: 35px;" src="{% static 'TK2_HOME/images/gmail.png' %}">
            </a>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> SIPEMERINTAH.com</a>
        </div>
    </div>
<!-- Footer -->
</body>
</html>
