{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block title %}SIPEMERINTAH.com{% endblock %}
{% block content %}
<script src="{% static 'TK2_HOME/ajax/js/antrian.js' %}"></script>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'TK2_HOME/images/first-image.jpeg' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'TK2_HOME/images/second-image.jpeg' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'TK2_HOME/images/third-image.jpeg' %}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container-fluid middle">
    <p class="paragraph_index">
        Sipemerintah adalah website yang memiliki tujuan untuk memudahkan masyarakat dalam melakukan kegiatan administrasi dan pembayaran pajak. Sipemerintah membantu masyarakat dengan cara memberikan layanan untuk melakukan kegiatan tersebut secara online. Layanan tersebut berisi tentang otomasi tahapan yang dapat dilakukan di mana saja asalkan terhubung dengan internet. Otomasi ini yaitu pengumpulan berkas yang dilakukan secara online sehingga mengurangi waktu yang dibutuhkan masyarakat dalam melakukan proses administrasi dan memudahkan masyarakat dalam mengumpulkan dokumen yang terkait untuk proses administrasi yang diinginkan. Website ini memiliki beberapa fitur antara lain pendaftaran penduduk, pembuatan dan perpanjangan SIM, pembayaran pajak kendaraan, serta FAQ.
    </p>
<div class="row">
  <div class="col-md-6">

    <div id="Queue A">

      <h1> Nomor Antrian Kantor A adalah : </h1>
		<div  id="ABC" class="d-flex justify-content-center align-items-center">

    			<button onclick="displayA()" class="btn btn-outline-secondary">Lihat Nomor Antrian</button>

		</div>

      </div>
    </div>


<div class='col-md-6'>
    <div id="Queue B">

      <h1> Nomor Antrian Kantor B adalah : </h1>

      <div id="CBA" class="d-flex justify-content-center align-items-center">

            <button onclick="displayB()" class="btn btn-outline-secondary">Lihat Nomor Antrian</button>
      </div>
      </div>

</div>

  </div>

  </div>
</body>
</html>
{% endblock %}
