{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'TK2_HOME/css/auth.css' %}"> 
{% endblock %}

{% block title %}Login{% endblock %}
{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/first-image.jpeg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/second-image.jpeg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'TK2_HOME/images/third-image.jpeg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container-fluid middle">
        <p class="paragraph_index">
            <div class="container pt-5 pb-5">
                <div class="col-md-6 mx-auto">
                <div class="container transparent-bg-gray pb-3 pt-3 rounded">
                    <div class="big-text pb-1">Login</div>
                    <form id="form_login" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors %}
                        <div style="padding-top: 5px;">
                            {% for err in form.non_field_errors %}
                            <p class="alert alert-danger">{{ err }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-marg">Submit</button>
                    </form>	
                </div>
                </div>
            </div>
        </p>

    </div>
</body>
{% endblock %}