{% extends 'TK2_HOME/base.html' %}
{% load static %}

{% block title %}SIPEMERINTAH.com {% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'TK2_faq/css/index.css' %}" />
{% endblock %}
{% block javascript %}
<script src="{% static 'TK2_faq/js/actions.js' %}"></script>
{% endblock %}

{% block content %}    
    <div class="jumbotron jumbotron-fluid jumbotron_image">
        <div class="container">
            <h1 class="display-4 faq_main">Frequently Asked Question</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if success %}
                <div class="alert alert-primary" role="alert">
                    Terima kasih telah memberikan pertanyaan, {{ name }}.
                </div>
                {% endif %}
                <div>
                    <p>Berikut ini kami rangkum daftar pertanyaan yang paling banyak ditanyakan terkait penggunaan web, 
                        pembayaran, serta syarat dan ketentuan yang berlaku.
                    </p>
                </div>

                <div class="accordionhead">
                    <a>Dari mana saya dapat mengakses website sipemerintah ini?<i class="fas fa-caret-down"></i></a>
                    <div class="content">
                        <p> Anda dapat mengakses website ini dimanapun Anda berada dan melalui perangkat elektronik apapun selama Anda 
                            terhubung dengan koneksi internet.
                        </p>
                    </div>
                </div>
                <div class="accordionhead">
                    <a>Apa saja berkas yang perlu dipersiapkan untuk melakukan pembayaran pajak atau pembuatan KTP?<i id="caret-icon" class="fas fa-caret-down"></i></a>
                    <div class="content">
                        <p>
                            Anda dapat melihat berkas-berkas apa saja yang diperlukan pada halaman yang sesuai dengan transaksi 
                            yang anda lakukan. Misal Anda ingin melakukan pembuatan KTP maka pada halaman "Pembuatan KTP" akan tercantum
                            berkas-berkas apa saja yang akan anda perlukan.
                        </p>
                    </div>
                </div>
                <div class="accordionhead">
                    <a>Bagaimana cara saya melakukan pembayaran pada website ini?<i class="fas fa-caret-down"></i></a>
                    <div class="content">
                        <p>
                            Anda dapat melakukan pembayaran melalui transfer ke bank ataupun melalui gerai Indomaret terdekat. 
                            Untuk pembayaran pada gerai Indomaret, Anda dapat meminta petugas khusus di Indomaret untuk membantu 
                            Anda melaksanakan pembayaran. Diharapkan untuk menyimpan struk atau bukti pembayaran untuk mengantisipasi 
                            apabila terjadi error pada saat konfirmasi pembayaran agar dapat diverifikasi ulang.
                        </p>
                    </div>
                </div>
                <div class="accordionhead">
                    <a>Berapa lama proses pembuatan KTP dan SIM?<i class="fas fa-caret-down"></i></a>
                    <div class="content">
                        <p>
                            Lamanya pembuatan KTP dan SIM adalah maksimal 2 hari kerja, terhitung setelah pembayaran yang Anda lakukan 
                            terkonfirmasi oleh sistem. Akan muncul notifikasi apabila SIM atau KTP telah dibuat. Khusus untuk SIM, apabila anda 
                            menerima notifikasi tersebut harap untuk mendatangi kantor Samsat terdekat untuk melakukan tes. Anda akan 
                            segera mendapatkan SIM Anda apabila Anda lolos tes. Perhatian: apabila setelah 14 hari kerja Anda belum juga 
                            melakukan tes untuk SIM atau mengambil KTP, maka KTP atau SIM Anda akan hangus dan Anda harus melakukan mekanisme 
                            pendaftaran ulang.
                        </p>
                    </div>
                </div>
                <div class="accordionhead">
                    <a>Apakah saya dapat membuat SIM dan KTP dan membayar pajak secara bersamaan sekaligus?<i class="fas fa-caret-down"></i></a>
                    <div class="content">
                        <p>
                            Untuk konsistensi pelayanan kami, maka setiap pengguna hanya dapat melakukan salah satu transaksi pada satu waktu, 
                            misal ketika Anda sebelumnya sudah mendaftar untuk membuat KTP maka setelah semua proses pembuatan KTP selesai Anda 
                            baru bisa melakukan pembuatan SIM ataupun membayar pajak.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6" style="margin: 40px 0px">
                <div style="margin-top:50px">
                    <p>Apabila masih terdapat pertanyaan diluar pertanyaan-pertanyaan di atas, silakan
                        sampaikan kepada kami dengan cara mengisi formulir di bawah ini lalu tekan 'Submit'.
                    </p>    
                </div>
                <form action="{% url 'TK2_faq:faq-index' %}" method="POST">
                    {% csrf_token %}
                        {{ form }}
                        <br>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <a class="btn btn-light float-right" id="question_button" onclick="getQuestion()">Tampilkan pertanyaan</a>
                <div class="table-responsive">
                    <table class="table" style="margin-top: 40px">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Pertanyaan</th>
                            </tr>
                        </thead>
                        <tbody id="questions_ajax">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-6" style="margin: 40px 0px">
                <div>
                    <p>Silahkan login apabila Anda ingin mengajukan pertanyaan lain selain pertanyaan diatas.</p>    
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}